@charset "utf-8";

.inner {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

header.playerHd {
  padding: 20px 0;
  position: inherit;
  background-image: linear-gradient(30deg, #5EFCE8 0%, #736EFE 100%);
}

header.playerHd .inner {
  display: flex;
  justify-content: space-between;
  align-items: center
}

header.playerHd .inner i {
  font-size: 20px;
}

/* .playerBox {
  height: calc(100vh - 50px);
} */

.playerBox .img_box {
  display: block;
  width: 100%;
  margin: 80px 0 30px;
  clip-path: circle(48.7% at 50% 50%);
}

.playerBox .img_box img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.playerBox .img_boxEvent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  clip-path: circle(48.7% at 50% 50%);
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.playerBox .img_boxEvent a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-image: linear-gradient(30deg, #5EFCE8 0%, #736EFE 100%); */
  background-color: #313842;
}

.playerBox .img_boxEvent a:hover {
  background-color: #736EFE;
}

.playerBox .img_boxEvent a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.playerBox .tit_box {
  /* background-color: #313842; */
  width: 100%;
  padding: 50px 0;
}

.playerBox .tit_box .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.playerBox .txt h2 {
  font-size: 28px;
  padding-bottom: 10px;
}

.playerBox .txt p {
  font-size: 16px;
}

.playerBox .love {
  font-size: 28px;
}