@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

*{margin:0; padding:0; box-sizing: border-box;}

body{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px; line-height:1.3; font-weight: 300;
	color:#fff;
  background-color: #141825;
}
a{
	color:#fff; text-decoration:none;
}
img{
	border:none; vertical-align:top;
}
input{
	vertical-align:top;
}
ol, ul{
	list-style:none;
}
button{border: 0; background-color: transparent;}

.clear::after{content: ''; display: block; clear: both;}
.hidden{font-size: 0; color: transparent;}

/* visualWrap swiper */
.visualWrap .swiper {
	width: 100%;
	height: 100%;
}

.visualWrap .swiper-slide {
	text-align: left;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.visualWrap .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* list slide */

